# Development/OS artifacts and local settings
.vscode**
__debug_bin*
aggregate-inecobank-statement*
am-budget-view*
coverage.out
**.~lock.*
Inecobank Aggregated Statement.txt
Bank Aggregated Statement.txt
AM Budget View.txt

# Local data
tmp**
demo**
bank_dowloader_config.yaml
*.xml
History *.xls
AccountTransactions*.csv
generic*.csv
* account statement *.xls
scripts/*.csv
scripts/*.json
scripts/*.txt
AccountStatement *.csv
Income Statement *.xlsx
Statement *.xls
statement*.xlsx
STATEMENT*.xlsx
*.beancount
