# Development/OS artifacts and local settings
.vscode**
__debug_bin*
aggregate-inecobank-statement*
am-budget-view*
coverage.out
**.~lock.*
Inecobank Aggregated Statement.txt
Bank Aggregated Statement.txt

# Local data
tmp**
demo**
*.xml
History *.xls
AccountTransactions*.csv
* account statement *.xls
AccountStatement *.csv
Income Statement Template_Bench Accounting.xlsx
Statement *.xls
statement*.xlsx
*.beancount
