body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chart {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.chart-row {
    display: flex;
    justify-content: space-between;
}

.chart-row .chart {
    width: 48%;
}

#expensesVsIncome, #monthlyExpenses {
    height: 400px;
}

#totalExpenses, #totalIncome {
    height: 400px; /* Increased height to accommodate more categories */
}

#monthlyExpenses {
    height: 600px; /* Increased height for better visibility of horizontal bars */
}
